<div class="col-sm">
    <form class="border border-light p-5">

        <p class="h4 mb-4 text-center">Register</p>
        
        <input [(ngModel)]="user.email" name="email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
    
        <input [(ngModel)]="user.password" name="password" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    
        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">Minimal 8 characters lenght</small>
    
        <button mat-raised-button color="primary" class="btn btn-block my-4"
            type="submit"  (click)="registerUser()">Register</button>
    
        
    </form>
</div>