<div class="col-ml">
    <form class="border border-light p-5">
        <p class="h4 mb-4 text-center">Meta Data</p>
        <button
            type="button"
            mdbBtn
            color="info"
            class="waves-effect"
            mdbWavesEffect
            (click)="getData()"
          >
            Get Data
        </button>
        <div class="data" *ngFor="let el of elements;let i = index">
          <div>
            {{el.field_name}}
          </div>
          <div class="custom-control custom-switch">
            <input (click)="checkClassification(el)" type="checkbox" class="custom-control-input" id="customSwitches + {{el}}+{{i}}">
            <label class="custom-control-label" for="customSwitches + {{el}}+ {{i}}"></label> 
            <button mdbBtn *ngIf="el.classified == ''? false : true" color="red" size="sm" mdbWavesEffect type="button" class="m-0"> classified </button>
            <button mdbBtn *ngIf="!el.classified == ''? false : true" color="green" size="sm" mdbWavesEffect type="button" class="m-0"> Unclassified </button>
          </div>
        </div>
          
            
           
            <!-- Default switch -->
            
    </form>
</div>